.post-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 40px;
}

.card-title {
  font-size: 20px;
}

.font-color {
  color: black;
}
.font-colors {
  color: #00bfff;
}

.team {
  list-style: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.users-show {
  display: flex;
  justify-content: flex-end;
}

.form-control {
  display: flex;
  justify-content: center;
  height: 88px;
}
.search-input {
  width: 30%;
  margin-right: 10px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.search-btn {
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
