.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.comment-box {
  text-align: center;
}

.container-comment {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.form {
  text-align: center;
}

.comments {
  text-align: justify;
}

.comment-list {
  margin: 20px;
}

.comment-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more_list {
  display: flex;
  justify-content: center;
}

.edit_btn {
  margin-right: 20px;
}
