<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <title>sports</title>
  <%link_to %>
</head>
<body>
  <header>
    <div class ="header">
    <h1 class ="sports">sports</h1>
      </div>
      
  </header>
  <%= yield %>
</body>
</html>

